/* .react-calendar__navigation
{
  margin-left: 10%;
} */

button ,
span {
    background-color:  #012623;
    color: white;
}

button{
    height: 45px;
}

.react-calendar__month-view__weekdays__weekday{
    text-align: center;
}

