.rbc-header,
.rbc-btn-group > button:first-child:not(:last-child),
.rbc-btn-group > button:not(:first-child):not(:last-child),
.rbc-btn-group > button:last-child:not(:first-child),
.rbc-btn-group > button:last-child:not(:first-child),
.rbc-toolbar .rbc-toolbar-label {
    background-color: #012623;
    color: white;
}
.rbc-button-link{
    color:white;
}

.rbc-event-content{
    background-color: rgba(255, 138, 48);
}
.rbc-event-content:hover{
   font-size: larger;
}
.rbc-event, .rbc-day-slot .rbc-background-event{
    background-color: rgba(255, 138, 48);;
}
/* .rbc-day-bg.rbc-off-range-bg{
    background-color:rgb(90, 85, 85);
} */

.rbc-day-bg.rbc-today {
    background-color: hsl(175, 95%, 8%, 0.5); 
    
}

.rbc-day-bg {
   background-color: #012623; 
}

.rbc-day-bg:hover {
    background-color:hsl(62, 45%, 67%, 0.5)
}

