body {
   background-color: transparent;
}
.pb-3 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

#landing-login {
    height: 65px;
    width: 265px;
    margin-left: 20px;
}
#landing-login.button.fire::before {
    height: 55px;
    width: 255px;
}

#landing-signup {
    height: 65px;
    width: 265px;
}

#landing-signup.button.fire::before {
    height: 55px;
    width: 255px;
}

.col-md-4 {
    font-size: 20px;
}

h3 {
    margin: 20px;
}

ul {
    display: inline;
    margin: 20px;
}

@media (max-width:420px){
    #landing-login.button.fire {
        height: 45px;
        width: 245px;
    }
    #landing-login.button.fire::before {
        height: 34px;
        width: 225px;
    }
    #landing-signup {
        height: 45px;
        width: 245px;
        margin-left:20px;
    }

    #landing-signup.button.fire::before {
        height: 34px;
        width: 225px;

    }
    @keyframes breath {
        0% {
          transform:none
        }
        100% {
          transform:none
        }
      }
      
      @keyframes breath2 {
        0% {
          transform: none;
        }
        100% {
          transform: none;
        }
      }
}