.linkPage {
  margin-left: 40%;
  margin-right: 40%;
}
.aboutLinks {
    margin-left: 40%;
    margin-right: 40%;
}

.link-btn{
    display: block;
   margin-left: 38%;
   margin-bottom: 10px;
}

@media (max-width:420px) {
    .link-btn{
        margin-left:15%; 
    }
    .linkPage,
    .aboutLinks{
        color:white;
    }
}
