.loginContainer{
    margin-top: 20px;
    margin-left: 40%;
    background-color: hsl(223, 13%, 44%, 0.5) ;
    width: fit-content;
    padding: 5px;
    border: 2px solid #E3E59A;
}
.inputInfo{
    width: 300px;
}

.bigger{
    font-size: 30px;
}

.med {
    font-size: 20px;
}

@media (max-width: 450px) {
    .inputInfo{
        width: 150px;
    };
    .loginContainer{
        margin:20px;
    };
    /* html{
        background-image: none;
        background-color:#012623 ;
    } */
    
  }
